.btn {
    border: none;
    position: relative;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    transition: transform 0.1s ease-in-out;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}

.btn::before {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    display: block;
    width: 5px;
    height: 5px;
    border-top: 1px solid white;
    border-left: 1px solid white;
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
}

.btn::after {
    content: '';
    position: absolute;
    bottom: 4px;
    right: 4px;
    display: block;
    width: 5px;
    height: 5px;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
}

.btn:active {
    transform: scale(0.9);
}

.btn:hover::after,
.btn:hover::before {
    width: 30px;
    height: 30px;
}



.downloadbtn {
    background: url('../../assets/download.png');
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 1px solid grey;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    transition: transform 0.1s ease-in-out;
}

.downloadbtn:active {
    transform: scale(0.9);
}